<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMongoDbService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2127/MongoDbService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMongoDbService"
                contract="ServiceReference1.IMongoDbService" name="BasicHttpBinding_IMongoDbService" />
        </client>
    </system.serviceModel>
</configuration>